:root{
    --color_fondo: #6653b3;
    --color_hover: #988ec2;
    --letra_size: 2rem;
}

body{
    background-color: #ffffffe5;
    margin: 15px 30px 0 30px;
    
}

h1, p, h4, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero1, .hero2, .hero3 {
    margin: 80px;
}

.hamburguesa {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.barra {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-mobile {
    display: none;
    flex-direction: column;
    background-color: #f8f8f8;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-mobile.activo {
    display: flex;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color_fondo);
    height: 115px;
    padding: 0 15px;
    border-radius: 25px;
    margin-bottom: 5rem;
}

.navbar_marca img{
    padding: 15px;
    width: 100px;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 1rem 2.2rem;
    transition: background-color 0.3s;
    background-color: aliceblue;
    border-radius: 15px;
    
}

.navbar a:hover{
    background-color: var(--color_hover);
}

.hero1, .hero2, .hero3, footer{
    margin-top: 15px;
}

#izquierda, #derecha{
    display: flex;
    gap: 1rem;
}

#derecha{
    flex-direction: row-reverse;
    margin-left: auto;
}

.hero1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/foto-gratis/mujeres-felices-mirando-mapa-viaje_23-2148375012.jpg?t=st=1743973417~exp=1743977017~hmac=bde8bfeed445f87bb6592f5e6dce9d030221fa4d588775837777898699a49f05&w=996");
    background-size: cover;
    height: 60vh;
    border-radius: 30px;
    padding: 2rem;
}

.hero1 h1, .hero1 p{
    color: white;
}

.hero1 h1{
    font-size: 4rem;
}

.hero1 p{
    font-size: var(--letra_size);
}

.hero1 button{
    background-color: var(--color_fondo);
}

button{
    background-color: var(--color_fondo);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

button:hover{
    background-color: var(--color_hover);
}

.hero2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 0 auto;
    padding: 2rem;
}

.hero2_titulo{
    padding: 2rem;
    font-size: 4rem;
}

.caja{
    border: solid;
    padding: 15px;
    margin: 15px;
    background-color: #f5f4f9;
    border-radius: 25px;
}

.caja h4 {
    font-size: var(--letra_size);
}

.caja p{
    font-size: 1.3rem;
}
.caja img{
    width: 35px;
}

.otro_hero3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    gap: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.hero3_letras h4{
    background-color: #f5f4f9;
    font-size: 1.5vw;
    border-radius: 15px;
}

.hero3_letras p{
    font-size: 0.5vw;
}

.hero3_letras li{
    font-size: 0.5vw;
}

.hero3 button {
    padding: 12px 24px;
    margin: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.hero3 img {
    width: 100%;
    max-width: 80rem;
    height: auto;
    border-radius: 25px;
    margin: 0 20px;
    overflow: hidden;
}

.hero3 h4{
    font-size: 4rem;
}

.hero3 li, .hero3 p{
    font-size: var(--letra_size);
}

footer{
    background-color: var(--color_fondo);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;  
    padding: 2rem 5%;
    color: white;
    border-radius: 25px;
}

.divisiones_footer{
    border: solid;
}

.divisiones_footer h3{
    font-size: 2rem;
}

.firma{
    display: flex;
    flex-direction: column;
}

.firma img{
    padding: 15px;
    width: 150px;
    margin: auto;
}

.firma button{
    border: solid;
    border-color: white;
}


@media (max-width: 768px) {

    #izquierda, #derecha {
        display: none;
    }

    .hamburguesa {
        display: block;
        margin: auto;
    }

    .menu-mobile.activo {
        display: flex;
        border-radius: 15px;
    }

    .hamburguesa.activo .barra:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguesa.activo .barra:nth-child(2) {
        opacity: 0;
    }
    .hamburguesa.activo .barra:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero1, .hero2, .hero3 {
        margin: 0px;
    }

    .hero1{
        background-position:  40% 15%;
        background-attachment: fixed;
        background-repeat: no-repeat; background-size: cover;
    }

    .hero1 h1{
        font-size: 3rem;
    }
    
    .hero1 p{
        font-size: var(--letra_size);
    }

    .hero2{
        grid-template-columns: 1fr;
    }

    .otro_hero3{
        flex-direction: column;
    }

    .otro_hero3 ul{
        display: none;
        margin: 0;
    }

    .imagen_hero3{
        display: none;
    }

    .hero3_botones button{
        margin: 15px;
    }

    footer {
        grid-template-columns: 1fr;
    }

}